.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    padding-top: .85rem;
    padding-bottom: .85rem;
    background: $primary;
    color: $white;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
}