.footer{
    width: 100%;
    padding-top: .85rem;
    padding-bottom: .85rem;
    background: $primary-hover;
    color: $white;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
}