.search-panel{
    background-color: $primary;
    color: $white;
    padding: 1.25rem;
    
    .title, .input, .button{
        width: auto;
        border: none;
    }

    .button{
        background-color: $red;
    }

    .input{
        input{
            border: none;
        }
    }
}