.navbar-light .navbar-nav .nav-link{
    border-radius: 5px;

    &:hover{
        background-color: $lightblack;
        color: $white;
    }
    
    &.current{
        background-color: $lightblack;
        color: $white;
    }
}