.prev_next_options{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 1.5rem;

    div{
        background-color: $primary;
        color: $white;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease-out;

        &:hover{
            cursor: pointer;
            background-color: $primary-hover;
        }
    }
}