.panel-details{
    overflow-y: auto;
    height: calc(100vh - 140px);
    
    @include sm{
        height: calc(100vh - 110px);
    }
}

.details{
    background-color: $white;
    .details_img{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $white;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .details_info{
        padding: 1rem 2rem;
    }
}

.sprites{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img{
        width: 40%;
    }
}
