.pokemon_evolution{
    .title{
        text-align: center;
        background-color: $primary;
        color: $white;   
        padding: 0.5rem 3rem;
    }

    .chain{
        padding-top: 3rem;
        background-color: $background;
    }
}