html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: $principal-font!important;
  font-size: $principal-font-size!important;
  background-color: $background;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

.bg-main{
  height: 100vh;
}

.content{
  display: flex;
  flex-direction: column;
}