html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: $principal-font!important;
  font-size: $principal-font-size!important;
  // background-color: $background;
  background: linear-gradient(180deg, $background 0%, $background-darker 100%) no-repeat center center fixed; 
  // background-image: url('./../../assets/pokeball.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

.bg-main{
  overflow-y: hidden;
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.content{
  margin-bottom: 4rem;
}