// Variable overrides
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

// Fuentes
$principal-font: 'Lato', sans-serif;
$principal-font-size: 1.8rem;

$black: #000000;
$lightblack: #919191;
$white: #FFFFFF;
$background: #F8F9FA;
$blue: #0A58CA;
$primary: #5D6060;
$primary-hover: #262626;